
<html>
    <head>
        <title>Ankit's blog</title>
    </head>
    <body>
	<div class="collapse navbar-collapse" id="myNavbar">
                <button class="butlook" onclick="setTimeout(myFunction, 3000);">Home</button>
                <td><td><button class="butlook" onclick="setTimeout(myFunction, 3000);">Info</button>
                <td><td><button class="butlook" onclick="setTimeout(myFunction, 3000);">Views</button> 
                <td><td><button class="butlook" onclick="setTimeout(myFunction, 3000);">Contact</button>
                
          </div>
		  <td>
		  <br>
        <div>
            <h1><a href="">Ankit's Blog</a></h1>
        </div>

        <div>
            <p>published: 6.06.2016, 00:00</p>
            <h2><a href="">My first post</a></h2>
            <h3>Simple Definition of sentiment<h3>
            <p>: an attitude or opinion<br>
               : feelings of love, sympathy, kindness, etc.
			   <p>Explanation:
			   Examples of sentiment in a sentence<br>
               His criticism of the court's decision expresses a sentiment that is shared by many people.
			   (an expression of anti-war sentiments)<br>
			   She likes warmth and sentiment in a movie.<br>
			   You have to be tough to succeed in the business world. There's no room for sentiment.</p></p>
        </div>

        
    </body>
</html>